/* основное */
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

[v-cloak] {
    display: none;
}

body {
    background-color: #ffffff;
    overflow: hidden;
}

body::after {
/*     content: "@silanteva.julia"; */
    position: fixed;
    font-size: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 22px;
}

h3 {
    margin: 15px 0;
}

svg * {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.block-design {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
}

.m-button {
    padding: 0.5em;
    border-radius: 2em;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color linear 0.2s;
}

.m-button:hover {
    background-color: #00ffaa;
}

.background-block {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .5s;
    opacity: 1;
}

.back-enter-active,
.back-leave-active {
    transition: opacity .4s linear;
}

.back-enter,
.back-leave-to {
    opacity: 0;
}

/* логотип */

.logo {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes rainbow {
    0% {
        stroke: #ff00ff;
        transform: scale(0.95);
    }

    16% {
        stroke: #ff0000;
        transform: scale(1.05);
    }

    32% {
        stroke: #ffff00;
        transform: scale(0.95);
    }

    48% {
        stroke: #00ff00;
        transform: scale(1.05);
    }

    64% {
        stroke: #00ffff;
        transform: scale(0.95);
    }

    80% {
        stroke: #0000ff;
        transform: scale(1.05);
    }

    100% {
        stroke: #ff00ff;
        transform: scale(0.95);
    }
}

.logo rect {
    fill: none;
    animation: rainbow 36s ease infinite;
    animation-delay: 1s;
    transform-origin: 200px 200px;
    stroke-linejoin: round;
}

.logo .diag {
    transform: rotate(45deg);
    transform-origin: 200px 200px;
}

.logo-enter-active,
.logo-leave-active {
    transition: transform 0.4s ease, opacity 0.4s linear;
}

.logo-enter,
.logo-leave-to {
    transform: scale(0);
    opacity: 0;
}

/* матрица */

.result {
    position: absolute;
    bottom: 80px;
    left: 0;
    top: 0;
    right: 0;
}

path.tail {
    transition: fill 0.3s linear;
    stroke: #000088;
    fill: rgba(0, 0, 136, 0);
    stroke-width: 1px;
}

path.tail:hover {
    fill: rgba(0, 0, 136, 0.4);
}

.background-m {
    fill: #888888;
    stroke: #888888;
    stroke-width: 1;
}

.background-m.square {
    fill: none;
}

.energy > circle {
    fill: #ffffff;
    stroke: #7f7f7f;
    stroke-width: 2px;
}

.energy.purple > circle {
    stroke: #c800c8;
}

.energy.blue > circle {
    stroke: #0000c8;
}

.energy.light-blue > circle {
    stroke: #00c8c8;
}

.energy.green > circle {
    stroke: #00c800;
}

.energy.yellow > circle {
    stroke: #c8c800;
}

.energy.orange > circle {
    stroke: #ea3f00;
}

.energy.red > circle {
    stroke: #c80000;
}

.energy > text {
    text-anchor: middle;
    font-size: 13px;
}

.energy-per-year > * {
    fill: #888888;
}

.energy-per-year > text {
    font-size: 8px;
    text-anchor: middle;
}

.energy-per-year > text.end {
    text-anchor: end;
}

.energy-per-year > text.middle {
    text-anchor: middle;
}

.comfort-zone rect {
    fill: #ffffff;
    stroke: #888888;
}

.comfort-zone text {
    fill: #000000;
    font-size: 8px;
    text-anchor: middle;
}

.background-t {
    fill: #888888;
    font-size: 8px;
}

.background-t.middle {
    text-anchor: middle;
}

.background-t.end {
    text-anchor: end;
}

.result-tr-enter-active,
.result-tr-leave-active {
    transition: opacity 0.4s linear;
}

.result-tr-enter,
.result-tr-leave-to {
    opacity: 0;
}

path.tail.selected {
    stroke: #ff0000;
    fill: rgba(255, 0, 0, 0.3)
}

/* главное меню */

.input-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
}

.input-menu input {
    padding: 0.5em;
    border-radius: 2em;
    border: solid 1px #d4d4d4;
    transition: border linear 0.2s, background-color linear 0.2s;
    display: block;
    width: -webkit-fill-available;
    margin: 0 0 10px 0;
    -webkit-appearance: none;
}

.reference {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reference > * {
    font-size: 20px;
}

/* кнопка переключения главного меню */

.toggle-main-menu {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    transition: box-shadow linear 0.3s, opacity 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0) 0 5px 10px 0;
    opacity: 1;
}

.toggle-main-menu.right {
    left: initial;
    right: 10px;
}

.toggle-main-menu * {
    transition: transform ease 0.3s, opacity 0.3s linear;
    font-size: 20px;
    transform-origin: center;
    position: absolute;
    opacity: 0.5;
}

.toggle-main-menu.reverse {
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
}

.toggle-main-menu .main-menu-show,
.toggle-main-menu.reverse .main-menu-hide {
    transform: matrix(0.1, 0, 0, 1, 0, 0);
    opacity: 0;
}

.toggle-main-menu.reverse .main-menu-show,
.toggle-main-menu .main-menu-hide {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

.main-menu-enter-active,
.main-menu-leave-active {
    transition: transform 0.4s ease;
}

.main-menu-enter,
.main-menu-leave-to {
    transform: translate(-110%, 0px);
}

.toggle-main-menu-tr-enter-active,
.toggle-main-menu-tr-leave-active {
    transition: opacity 0.4s linear;
}

.toggle-main-menu-tr-enter,
.toggle-main-menu-tr-leave-to {
    opacity: 0;
}

/* список матриц */

.saves-list {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}

.saves-list h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
}

.list-animate-container {
    margin-top: 40px;
    max-height: 340px;
    overflow: auto;
}

.list-animate-item {
    list-style: none;
    padding: 10px 0;
    border-top: solid 1px #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    transition: all 0.4s ease;
}

.list-enter-active,
.list-leave-active {
    transition: transform .4s ease;
}

.list-enter,
.list-leave-to {
    transform: translate(110%, 0px);
}

.list-animate-enter,
.list-animate-leave-to {
    opacity: 0;
    transform: translate(30px, 0px);
}

.list-animate-item .text {
    display: flex;
    flex-flow: column;
}

.list-animate-item .text span:last-child {
    font-size: 10px;
    color: #757575;
}

.list-animate-item:first-child {
    border-top: none;
}

.delete-matrix {
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffe4e4;
    color: red;
    padding: 0 10px;
}

.delete-list-item-enter-active,
.delete-list-item-leave-active {
    transition: opacity 0.2s linear;
}

.delete-list-item-enter,
.delete-list-item-leave-to {
    opacity: 0;
}

.toggle-b {
    color: blue;
    background-color: #e4e4ff;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color linear 0.2s, background-color linear 0.2s;
}

.toggle-b.toggle-true {
    color: #e4e4ff;
    background-color: blue;
}

/* окно информации */

.info {
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.info .info-body {
    list-style: none;
    height: calc(100% - 88px);
    overflow: hidden;
}

.info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 300%;
    transition: transform 0.4s ease;
    height: 100%;
}

.info-container.one {
    transform: translate(0%, 0px);
}

.info-container.two {
    transform: translate(-33.3333%, 0px);
}

.info-container.three {
    transform: translate(-66.6666%, 0px);
}

.info-item {
    width: 33.3333%;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
}

.tabs .m-button {
    flex-flow: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: initial;
}

.tabs > .m-button span {
    font-size: 9px;
}

.tabs .selected-tab {
    background-color: #00ffaa;
}

.tabs .fas {
    font-size: 20px;
}

.info-tr-enter-active,
.info-tr-leave-active {
    transition: transform 0.4s ease;
}

.info-tr-enter,
.info-tr-leave-to {
    transform: translate(110%, 0px);
}

/* список хвостов */

.info-list-item {
    border-top: solid 1px #d1d1d1;
    padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-flow: column;
    justify-content: start;
}

.info-list-item:first-child {
    border-top: none;
}

.info-list-item.selected {
    color: red;
}

.info-list-item .energy {
    font-size: 10px;
    color: #757575;
}

/* таблица здоровья */

.table-to-list {
    border-top: solid 1px #d1d1d1;
}

.table-to-list:first-child {
    border-top: none;
}

.table-to-list h4 {
    padding: 10px 0;
}

.table-to-list p {
    padding: 10px 0;
}

/* духовное */

.row-level-other {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.column-level-other {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.other-arcane {
    margin: 10px;
}

.curve-brasket {
    font-size: 40px;
    transform: scale(1, 2);
    transform-origin: 0 29px;
}

.brasket {
    fill: none;
    stroke: #000000;
    stroke-width: 3px;
}

.curve-brasket.medium {
    transform: scale(1, 3.6);
}

.curve-brasket.large {
    transform: scale(1, 7);
}

.spirit h4 {
    transform: translate(0px, -30px);
    position: absolute;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-row-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 10px;
}

.flex-row.tail {
    border: 2px solid blue;
    border-radius: 40px;
}

.flex-row-item span:first-child {
    font-size: 10px;
    color: #757575;
    white-space: nowrap;
}

.flex-row-item span:last-child {
    font-size: 27px;
    font-weight: bold;
}

/* кнопка переключения окна информации */

.toggle-info-menu-tr-enter-active,
.toggle-info-menu-tr-leave-active {
    transition: opacity 0.4s linear;
}

.toggle-info-menu-tr-enter,
.toggle-info-menu-tr-leave-to {
    opacity: 0;
}

/* всплывающее окно */

.popup {
    position: fixed;
    top: -100px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    padding: 110px 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup .close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .close-button i {
    font-size: 25px;
}

.popup > .block-design {
    position: relative;
    padding: 20px 20px 58px 20px;
    min-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

.popup-body {
    max-height: 600px;
    overflow-y: auto;
}

.popup-body p {
    margin: 10px 0;
}

.popup-body h3 {
    margin: 10px 0;
    font-size: 20px;
}

.popup .popup-buttons-container {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.popup-tr-enter-active,
.popup-tr-leave-active {
    transition: transform 0.4s ease, opacity 0.4s linear;
}

.popup-tr-enter,
.popup-tr-leave-to {
    transform: scale(0.8);
    opacity: 0;
}

.row-level-other-container {
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

/* для тёмной темы */

@media (prefers-color-scheme: dark) {
    .info-list-item {
        border-top: solid 1px #2e2e2e;
    }

    .list-animate-item {
        border-top: solid 1px #2e2e2e;
    }

    .comfort-zone rect {
        fill: #222222;
    }

    .comfort-zone text {
        fill: #ffffff;
    }

    path.tail:hover {
        fill: rgba(127, 127, 255, 0.4);
    }

    path.tail {
        stroke: #7f7fff;
    }

    .energy > text {
        fill: #ffffff;
    }

    .energy > circle {
        fill: #222222;
    }

    body {
        background-color: #000000;
        color: #ffffff;
    }

    .block-design {
        background-color: #222222;
    }

    .input-menu input {
        background-color: #333333;
        color: #ffffff;
        border: 1px solid #757575;
    }

    .m-button {
        background-color: #483d8b;
    }

    .m-button:hover {
        background-color: #7365d3;
    }

    .toggle-b {
        background-color: #00005a;
        color: #ffffff;
    }

    .pin-matrix {
        color: #ffffff;
        background-color: #5a5a00;
    }

    .delete-matrix {
        background-color: #5a0000;
        color: #ffffff;
    }

    .toggle-main-menu {
        background-color: #222222;
    }

    .tabs .selected-tab {
        background-color: #483d8b;
    }

    .info-list-item .energy {
        color: #d1d1d1;
    }

    .list-animate-item .text span:last-child {
        color: #d1d1d1;
    }

    .flex-row-item {
        background-color: #202020;
    }

    .flex-row-item span:first-child {
        color: #d1d1d1;
    }

    .brasket {
        stroke: #ffffff;
    }
}
